@charset "UTF-8";
/**
 * 
 * @shuaijuntao (you@example.org)
 * @date    2016-08-25 16:10:23
 * @version $Id$
 */
/*订单管理*/
.tabs{border-bottom: 2px solid #bf0008;padding-left: 20px;}
.tabs li{width: 79px;height:28px;line-height: 28px;border:1px solid #dbdada;border-bottom:none;color:#666;float: left;text-align: center;margin-right: 8px; background-color: #f7f7f7; cursor:pointer;}
.tabs li.active{background-color: #c00;color:#fff;font-weight: bold;border-color: #bf0008;}


.tabs-con .all{line-height: 42px;color:#707070;padding-left: 20px;}
.tabs-con .all label{margin-right: 36px;}



.orderlist-hd{background-color: #fff4e8;border:1px solid #dbdada;}
.orderlist-hd li{font-size: 12px;color:#707070;font-weight: bold;line-height: 28px;float: left;text-align: center;}
.w346{width: 346px;}
.w110{width: 110px;}
.w79{width: 79px;}
.w144{width: 144px;}
.w115{width: 115px;}
.w129{width: 129px;}




.orderlist{margin-top: 10px;}
.orderlist li{border:1px solid #dbdada;background-color: #fff;}
.orderlist .profile{background-color: #f4f6f9;height: 30px;line-height: 30px;}


.orderlist .detail,.orderlist .unit-price,.orderlist .quantity,.orderlist .collection,.orderlist .status,.orderlist .opera{border-right: 1px solid #edecec;height: 91px;text-align: center;}
.orderlist .detail{margin:15px 0 0 19px;text-align:left;}
.orderlist .p-name{line-height:18px;color:#005eae;}
.orderlist .p-name a{color:#005eae;}
.orderlist .p-name a:hover,.orderlist .trade-img a:hover{color:#c00;}
.orderlist .p-img{margin-left: 19px;}
.orderlist .p-img,.orderlist .p-img img{width:61px;height: 61px;}
.orderlist .p-msg{margin-left:108px;}
.orderlist .trade-img a{color:#ff8033;}


.orderlist .unit-price{line-height:91px;}
.orderlist .quantity{line-height:91px;}
.orderlist .collection{}
.orderlist .status{}
.orderlist .opera{border-right:none;}

