@charset "UTF-8";

/**
 * 
 * @shuaijuntao (you@example.org)
 * @date    2016-08-25 16:10:23
 * @version $Id$
 */


/*订单管理*/

.tabs {
    border-bottom: 2px solid #bf0008;
    padding-left: 20px;
}

.tabs li {
    width: 79px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dbdada;
    border-bottom: none;
    color: #666;
    float: left;
    text-align: center;
    margin-right: 8px;
    background-color: #f7f7f7;
    cursor: pointer;
}

.tabs li.active {
    background-color: #c00;
    color: #fff;
    font-weight: bold;
    border-color: #bf0008;
}
.tabs-con{display: none;}


.orderlist-hd {
    background-color: #fff4e8;
    border: 1px solid #dbdada;
}

.orderlist-hd li {
    font-size: 12px;
    color: #707070;
    font-weight: bold;
    line-height: 28px;
    float: left;
    text-align: center;
}

.w346 {
    width: 346px;
}

.w110 {
    width: 110px;
}

.w79 {
    width: 79px;
}

.w144 {
    width: 144px;
}

.w115 {
    width: 115px;
}

.w129 {
    width: 129px;
}

.orderlist {
    margin-top: 10px;
}

.orderlist li {
    border: 1px solid #dbdada;
    background-color: #fff;
    color: #707070;
}

.orderlist .profile {
    background-color: #f4f6f9;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.orderlist .profile .user {
    padding-left: 19px;
}

.orderlist .profile .user i {
    font-size: 20px;
    color: #005eae;
}

.orderlist .detail,
.orderlist .unit-price,
.orderlist .quantity,
.orderlist .collection,
.orderlist .status,
.orderlist .opera {
    border-right: 1px solid #edecec;
    height: 91px;
    text-align: center;
}

.orderlist .detail {
    text-align: left;
}

.orderlist .detail-wrap {
    margin: 15px 5px 0 19px;
}

.orderlist .p-name {
    line-height: 16px;
    color: #005eae;
    margin-bottom: 2px;
}

.p-name a {
    color: #005eae;
}

.p-name a:hover,
.orderlist .trade-img a:hover {
    color: #c00;
}

.orderlist .p-img {
    margin-left: 19px;
}

.orderlist .p-img,
.orderlist .p-img img {
    width: 61px;
    height: 61px;
}

.orderlist .p-msg {
    margin-left: 108px;
}

.orderlist .trade-img a {
    color: #ff8033;
}

.orderlist .refer {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.orderlist .unit-price {
    line-height: 91px;
}

.orderlist .quantity {
    line-height: 91px;
}

.orderlist .collection,
.orderlist .status {
    line-height: 28px;
}

.orderlist .collection p,
.orderlist .status p {
    display: inline-block;
    vertical-align: middle;
}

.orderlist .opera {
    border-right: none;
}

.status1 {
    color: #ff9633;
}

.status2 {
    color: #005eae;
}

.status3 {
    color: #bf0008;
}


/*首次登录*/

.reglogin-wrap {
    background: #f3f3f3;
    margin-bottom: 60px;
}


/*first login*/

.first-login {
    padding-bottom: 93px;
    padding-top: 35px;
}

.first-login h2 {
    font: bold 20px/32px microsoft Yahei;
    border-bottom: 1px solid #bf0008;
    color: #bf0008;
    display: inline-block;
}

.first-login .login-tips {
    line-height: 12px;
    margin: 20px 0 29px;
    color: #797979;
}

.ml283 {
    margin-left: 283px;
}

.form .form-hd {
    width: 390px;
    text-align: center;
}


/*login*/

.login {
    padding: 99px 0 103px;
}

.login .find-pwd {
    width: 250px;
    text-align: right;
    line-height: 30px;
    clear: both;
}

.login .find-pwd a {
    color: #005eae;
}

.login .find-pwd a:hover {
    color: #c00;
}


/*pwd update success*/

.pwd-success {
    padding: 52px 0 93px;
}

.icon-success {
    font-size: 36px;
    color: #c81623;
    font-weight: normal;
}

.pwd-success .pwd-tips {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #c81623;
    font-weight: bold;
}

.pwd-success .form-hd {
    margin-bottom: 58px;
}


/*find pwd*/

.find-pwd-wrap {
    border-top: 2px solid #bf0008;
    margin-top: 26px;
}

.find-pwd-wrap .reglogin-wrap {
    width: 920px;
    margin: 60px auto;
    border-top: 1px solid #acacac;
    padding-bottom: 176px;
}

.find-pwd-wrap .reglogin-wrap .findpwd-hd {
    font: 20px/36px microsoft Yahei;
    color: #000;
    margin: 32px 0 0 133px;
}

.find-pwd-wrap .reglogin-wrap .form {
    margin-left: 220px;
}



.getcode {
    width: 98px;
    height: 26px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #fcfcfc, #ededed);
    background: -webkit-linear-gradient(top, #fcfcfc, #ededed);
    background: -ms-linear-gradient(top, #fcfcfc, #ededed);
    background: linear-gradient(top, #fcfcfc, #ededed);
    outline: none;
    border-radius: 2px;
    font-size: 12px;
    color: #005eae;
}


/*添加商品*/

.current-category {
    background: #e1e1e1;
    font-size: 12px;
    line-height: 30px;
    color: #2d2d2d;
    padding: 0 28px 0 12px;
}

.add-product-box {
    border: 1px solid #dbdada;
    background: #fff;
    padding:4px 49px 0;
    margin-bottom: 71px;
}

.add-product-box .section {
    border-bottom: 1px solid #dbdada;
    padding-bottom: 10px;
    margin-top: 30px;
}
.add-product-box .goods-category{
    padding-bottom: 30px;
}
.add-product-box .form .sec-title{
	font-family: simsun;
	font-size:12px;
	line-height: 12px;
	color:#666;
	font-weight: bold;
}


.add-product-box .form  .txt{
    height: 28px;
    line-height:28px\9;
    font-size: 12px;
}
.add-product-box .form .form-item{line-height:30px;}
.add-product-box .form .item-l{
    color:#666;
    font-size: 12px;
}

.add-product-box .add-standard{
    width:200px;
    height:30px;
    border: 1px solid #ccc;
    text-align: center;
    color:#939393;
    font-weight: bold;
    background: #fff;
    display: block;
    font-family:arial;
    font-size: 16px;
    margin-top: 20px;
    cursor:pointer;

}
 .added-standard{
    width: 378px;
    background: #f2f2f2;
    border:1px solid #ccc;
    color:#333;
    padding:8px 0 20px 20px;
}
.added-standard h3{
    line-height: 36px;
    font-size:12px;
}
.added-standard a{
    color:#333;
}
.added-standard a:hover{
    color:#c00;
}
.added-standard li input,.opear-all input{
    margin-right: 4px;
    vertical-align: middle;
}
.added-standard li{
    margin-bottom: 10px;
}
.added-standard li span{
    width: 98px;
    height: 28px;
    line-height: 28px;
    border:1px solid #ccc;
    text-align: center;
    background: #fff;
    margin-right: 4px;
    display: inline-block;
}

.opear-all label{margin-right: 19px;}
.goods-img-list li{float: left;}
.goods-img-list li img{
   width: 100px;
   height: 100px;
}

.upload-goods{
    color: #7f7f7f;
}

.delivery-time a{
  color:#3399ff;
  text-decoration: underline;
  margin-right: 18px;
}
.delivery-time a:hover{
    color:#c00;
}

.delivery-tips{
    clear: both;
    line-height: 32px;
    color: #7f7f7f;
}

.starttime-con label{
    display: block
}
.starttime-con label input{
    vertical-align: middle;
    margin-right: 10px;
}
.starttime-con label span{
    display: inline-block;
    vertical-align: middle;
}
.add-product-box .sub-btn{
    margin:62px 0 89px;
}

.editor-tabs{
    width:638px;
    height: 34px;
    background: #f8f8f8;
    border: 1px solid #ececec;
    border-top:none;
    padding-left: 10px;
}
.editor-tabs li{
    width: 76px;
    height: 25px;
    line-height: 25px;
    color: #000;
    text-align: center;
    float: left;
    margin-top: 8px;
    cursor: pointer;
    position: relative;
}
.editor-tabs li .hot{
    width:21px;
    height: 11px;
    background: url(../images/hot.gif) 0 0 no-repeat;
    position: absolute;
    left: 65px;
    top:-2px;
}
.editor-tabs li.active{
background: #fff;
border:1px solid #ececec;
border-bottom: 1px solid #fff;
}
.editor-tabs-con{
    margin-top: 10px;
    display:none;
}
.editor-tabs-con textarea{
    width:650px;
    height: 406px;
}

/*下架商品管理*/
.pen{font-size: 17px;}
.update-link{position: relative;top:-3px;}
.update-link:hover{text-decoration: none;}
.reshelf{display:block;color: #bf0008;line-height: 26px;}
/*商品回收站*/
.recyc-input .grey-btn{color: #707070;}